{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"]
      }
    ],
    [
      "wrap-in-js",
      {
        "extensions": ["css$"]
      }
    ],
    [
      "emotion",
      {
        "inline": true
      }
    ]
  ]
}
